In [2]:
# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular programming languages for Data Science, such as Python, R, and SQL
- Identify commonly used libraries in Data Science, such as Pandas, NumPy, Matplotlib
- Present examples of open-source tools for Data Science, such as Jupyter Notebook
- Demonstrate basic arithmetic operations and unit conversions in Python
- Show how to do simple math and convert units in Python
- Share Jupyter Notebooks through GitHub for collaboration

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. TensorFlow

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Spark          |

### Below are a few examples of evaluating arithmetic expressions in Python.

This is a simple arithmetic expression to multiply then add integers

In [8]:
(3 * 4) + 5

17

This will convert 200 minutes to hours by dividing by 60

In [9]:
200 / 60

3.3333333333333335

## Author
Marcin Malinowski